@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 230 26.1% 30.8%;
    --card: 0 0% 100%;
    --card-foreground: 230 26.1% 30.8%;
    --popover: 0 0% 100%;
    --popover-foreground: 230 26.1% 30.8%;
    --primary: 202 60.2% 59.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 200 52.9% 86.7%;
    --secondary-foreground: 230 26.1% 30.8%;
    --muted: 214 63.6% 95.7%;
    --muted-foreground: 202 60.2% 59.6%;
    --accent: 214 63.6% 95.7%;
    --accent-foreground: 230 26.1% 30.8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 200 52.9% 86.7%;
    --input: 200 52.9% 86.7%;
    --ring: 202 60.2% 59.6%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 230 26.1% 30.8%;
    --foreground: 0 0% 100%;
    --card: 230 26.1% 30.8%;
    --card-foreground: 0 0% 100%;
    --popover: 230 26.1% 30.8%;
    --popover-foreground: 0 0% 100%;
    --primary: 202 60.2% 59.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 200 52.9% 86.7%;
    --secondary-foreground: 230 26.1% 30.8%;
    --muted: 200 52.9% 86.7%;
    --muted-foreground: 0 0% 100%;
    --accent: 202 60.2% 59.6%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 200 52.9% 86.7%;
    --input: 200 52.9% 86.7%;
    --ring: 202 60.2% 59.6%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    overflow-x: hidden;
  }
}

@layer components {
  .glass-card {
    @apply bg-card border;
  }
  .dark .glass-card {
    @apply bg-card/60 border-border/20 backdrop-blur-lg;
  }
}
