@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --link: 240 100% 47%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 47 99% 61%;
    --primary-foreground: 0 0% 0%;
    --secondary: 251 98% 61%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 35%;
    --accent: 47 99% 61%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 85%;
    --input: 0 0% 85%;
    --ring: 47 99% 61%;
    --radius: 25px;
    --chart-1: 47 99% 61%;
    --chart-2: 251 98% 61%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 8%;
    --foreground: 0 0% 96%;
    --link: 240 100% 70%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 96%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 96%;
    --primary: 47 99% 61%;
    --primary-foreground: 0 0% 0%;
    --secondary: 251 98% 61%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 70%;
    --accent: 47 99% 61%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 47 99% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body text-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
  h1 {
    @apply text-h1;
  }
  h2 {
    @apply text-h2;
  }
  a {
    @apply text-link;
  }
}
